<div class="text-center" style="margin-top: 30%;">
  <button (click)="loginUser()" class="btn btn-primary btn-lg ">
    Login as normal user
  </button>

  <button (click)="loginAdmin()" class="btn btn-danger btn-lg">
    Login as admin user
  </button>

  <p class="footertext" style="margin-top: 20%;">
    Developed by Prasobh Kollattu
    <a
      href="https://github.com/prasobhkollattu/Angular7FirebaseBootstrapEasyStarter"
      >Git : Angular7FirebaseBootstrapEasyStarter</a
    >
  </p>
</div>
